---
layout: default
---

<%= page.include('blog-navigation') %>

<div class="post">
	
  <h1><%= page.title %></h1>

  <address>
    <a class="author" href="http://rocket.ly">Dan Yoder</a> 
    <span class="date"><%= page.published %></span>
  </address>

  <%= content %>

</div>
