[![Feed icon](/images/feed-icon-14x14.png) Atom feed][feed] for recent posts.

<% site.content.blog.posts.pages.select(&:published?)[0..4].sort_by(&:published).reverse.each do |post| %>
+-- {.post}
<h2><%= post.title %></h2>
<strong><%= post.published %></strong>
<p class="excerpt"><%= post.excerpt %> <a class="title" href="<%= post.url %>">Read more ...</a></p>
=--
<% end %>

[feed]: /blog/atom.xml

