<div id='comments-disclaimer'>
  <p>The original comments left for this post have been temporarily lost. I recently moved to Disqus in the hope of reducing the amount of spam. I apologize to those of you who took the trouble to leave comments. I value your part in our dialog, and am still working to restore the pre-Disqus comments (minus the spam).</p>
</div>
