+-- {.sidebar}

+---{.section}

Hi, My Name Is Dan
==================

+-- {.avatar}

![Dan Yoder](http://www.gravatar.com/avatar/44869413a67ee5dc2d7d36533d055ecd.png)
=--

You can <del>be <a href="http://www.facebook.com/profile.php?id=1162092623&ref=profile">my friend</a> if you want</del>, or just [follow me](http://twitter.com/dyoder). Take a look at my [professional background](http://www.linkedin.com/in/dyoder) or my various [open source projects](/open-source-projects). [Peruse the presentations](http://www.slideshare.net/dyoder) I've done, or even [watch one](http://rubyconf2008.confreaks.com/waves-a-resource-oriented-framework.html). If all else fails, [read my blog](/blog). 
=--

+---{.section}

This Is My Blog
=======

<%= page.include 'blog-post-summary' %>

These Are My Tweets
===================

Contacting Twitter... 
{:#twitter_update_list }

=--
=--